<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <div align="center">
        <h3>Enter user name and password:</h3>
        <form name='form-signin' th:action="@{/login}" method='POST'>
            <table border="0" cellpadding="10">
                <tr>
                    <td>User:</td>
                    <td><input type='text' name='userName' /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type='password' name='password' /></td>
                </tr>
            </table>
            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>